<div class="row">
    <div class="col mt-5 ml-5" *ngFor = "let vinilo of vinilos">
      <div class="card" style="width: 18rem;">
        <a routerLink="/vinilos/{{vinilo.id}}">
        <img class="card-img-top" src="{{vinilo.imagen}}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{vinilo.name}}</h5>
          <p class="card-subtitle mb-2 text-muted">{{vinilo.artista}}</p>
          <p class="card-text"><small class="text-muted">${{vinilo.precio}}</small></p>
        </div>
      </div>
    </div>
  </div>