<div class="container border">
  <div class="row">
    <div class="col">
      <div class="row m-2">
        <h3 align="center" style="color: #5dc1b9; white-space: nowrap;">{{viniloDetail.name}}</h3>
      </div>
      <div class="row">
        <img src="{{viniloDetail.imagen}}" style="height: auto; width: auto; max-width: 250px; max-height: 250px; margin-bottom: 20px" class="rounded mx-auto d-block img-thumbnail">
      </div>
    </div>

    <div class="container">
        <div>
            <a class = "btn btn-primary btn-center" onclick="agregar();" >Añadir a favoritos</a> 
            <br>
        </div>
      </div>

    <div class="col" style="overflow-y: scroll; max-height: 300px;">
      <br>
      <br>
      <h5>Año: </h5> {{viniloDetail.anio}}
      <h5>Artista: </h5> {{viniloDetail.artista}}
      <h5>Coleccion: </h5> {{viniloDetail.coleccion}}
      <h5>Precio: </h5> ${{viniloDetail.precio}}
      <h5>Descripción: </h5> {{viniloDetail.descripcion}}
      <h5>Estado: </h5> {{viniloDetail.estado}}
    </div>
  </div>
</div>

<div class="container">
  <div>
    <h1 class="text-center mt-4" style="color: #5dc1b9;">Recomendados</h1>
  </div>
</div>

<div class="container">
  <div class="row" *ngFor = "let vinilo of vinilos | slice:0:3">
    <div class="col" style="cursor: pointer;">
      <br>
        <a class="figure-caption" routerLink="/vinilos/{{vinilo.id}}">
          <h4 align="center" style="color: black">{{vinilo.name}}</h4>
          <p align="center"><img src="{{vinilo.imagen}}" style="width: 150px; height: 150px"></p>
          <h5 align="center">${{vinilo.precio}}</h5>
        </a>
    </div>
  </div>
</div>