<div class="container">
  <div class="row">
    <div *ngFor="let pedido of pedidos" class="card col-5 offset-1 border-reject mt-4">
      <div class="card-body row">
        <div class="col-5 card card-interno text-center m-0">
          <h6 class="card-title titulo-pedido">Numero Pedido:{{pedido.id}}</h6>
          <div>
              <img class= image-reject src="https://img.icons8.com/cotton/64/000000/cancel.png">
          </div>
          <span class="badge  badge-color" style="font-size:25px">{{pedido.tipo}}</span>

          <p class="m-0">Fecha: {{pedido.fechaGeneracion}}</p>
        </div>
        <div class=" col-6 card  card-interno m-0">
          <p class="m-0">Observacion:{{pedido.observacion}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
