<br>
 <br>
 <br>
<div class="container border">
  <div class="row">
    <div class="col">
      <div class="row m-2">
        <h3 align="center" style="color: #5dc1b9; white-space: nowrap;">{{artistaDetail.name}}</h3>
      </div>
      <div class="row">
        <img src="{{artistaDetail.image}}" style="height: auto; width: auto; max-width: 500px; max-height:500 px; margin-bottom: 20px" class="rounded mx-auto d-block img-thumbnail">
      </div>
    </div>
    <div class="col" style= "max-height: 500px;">
      <br>
      <br>
      <h5></h5> {{artistaDetail.text}}
    </div>
  </div>
</div>
<br>
<br>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

<div class="container-fluid">
   <div class="row">
      <div class="col-5"  ></div>
      <h1 style="color: #5dc1b9;">Musica del artista</h1>
      <div class="col-5"></div>
  </div>
</div>
</body>
<br>

<div class="container">
    <div class="row">      
      <div class="col mt-5 ml-5" *ngFor = "let vinilo of artistaDetail.vinilos">
      <div class="card" style="width: 18rem;">
      <a routerLink="/vinilos/{{vinilo.id}};">
        <img src={{vinilo.image}} class="card-img-top"> 	
      </a>		
        <div class="card-body">
          <h5 class="card-title" style="color: #5dc1b9" routerLink="/vinilos/{{vinilo.id}};">{{vinilo.name}}</h5>
          <p class="card-subtitle mb-2 text-muted">{{vinilo.coleccionbh}}</p>
          <p class="card-text"><small class="text-muted">${{vinilo.precio}}</small></p>
        </div>
      </div>
    </div>
  </div>

