<br>
 <br>
 <br>
<div class="container border">
  <div class="row">
    <div class="col">
      <div class="row m-2">
        <h3 align="center" style="color: #5dc1b9; white-space: nowrap;">{{artistaDetail.name}}</h3>
      </div>
      <div class="row">
        <img src="{{artistaDetail.image}}" style="height: auto; width: auto; max-width: 500px; max-height:500 px; margin-bottom: 20px" class="rounded mx-auto d-block img-thumbnail">
      </div>
    </div>
    <div class="col" style= "max-height: 500px;">
      <br>
      <br>
      <h5></h5> {{artistaDetail.text}}
    </div>
  </div>
</div>